<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shreevaka.tourism">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".uhome"></activity>
        <activity android:name=".placelist2" />
        <activity android:name=".Hlistview2" />
        <activity android:name=".adiminmainhome" />
        <activity android:name=".placedetails" />
        <activity android:name=".homeplace" />
        <activity android:name=".Placeupdate" />
        <activity android:name=".Addplace" />
        <activity android:name=".placelist" />
        <activity android:name=".hoteldetails" />
        <activity android:name=".Hlistview" />
        <activity android:name=".HAdmin" />
        <activity android:name=".Update" />
        <activity android:name=".Add" />
        <activity android:name=".userlistviewguide" />
        <activity android:name=".uderGuideDetails" />
        <activity android:name=".Main7Activity" />
        <activity android:name=".Main6Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".listViewGuide" />
        <activity android:name=".updateGuide" />
        <activity android:name=".viewGuide" />
        <activity android:name=".homeGuide" />
        <activity android:name=".addGuide" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>